body { 
  min-width: 1200px;
  min-height: 1173px;
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container { 
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation { 
  float: left;
  width: 780px; 
}

.user-block {
  float: right;
  width: 140px;
}

.main-header {
  margin-bottom: 59px;
}

h1 {
  font-size: 30px;  
  font-weight: bold;    
  line-height: 42px;
}

.bread-crumbs {
   margin-bottom: 59px;
}

.filter {
  float: left;
  width: 222px;
  height: 680px;  
}

.main-products {
  float: right;
  width: 710px;
  height: 592px;  
  margin-bottom: 45px;  
}

.product-card {
  float: left;
  width: 220px;
  height: 286px;  
  margin-right: 20px;
  font-size: 14px;
  line-height: 18px;
}

.product-card:nth-child(3) {
  margin-right: 0;  
}

.product-card:nth-child(6) {
  margin-right: 0;
}

.paginator {
  float: left;
  width: 193px;
  height: 43px;
  margin-bottom: 49px;
  margin-left: 10px;
  padding: 0 10px;  
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-social {
  float: left;
  width: 180px;
}

.footer-copyright {
  float: right;
  width: 180px;
}


/*Орормление "catalog-item" страници. */

.image-galery{
  float: left;
  width: 470px;
  height: 668px;
  margin-bottom: 49px;
}

.product-description {
  float: right;
  width: 400px;
  height: 669px;
  padding-left: 10px;
}




/*======================================
 Системное оформление - не изменять
=======================================*/
/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}