body { 	
  margin: 0;
  padding: 0;
}

.container { 
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-header-layout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-navigation { 
  width: 780px; 
}

.user-block {
  width: 140px;
}

.main-header {
  margin-bottom: 59px;
}

h1 {
  font-size: 30px;  
  font-weight: bold;    
  line-height: 42px;  
}

.bread-crumbs {
  width: 940px;
  margin-bottom: 59px;
}

.filter {
  width: 222px; 
  display: flex;
  flex-wrap: wrap;    
}

.main-products {
  display: flex;  
  justify-content: space-between;
  flex-wrap: wrap;
  width: 700px;    
  margin-bottom: 45px;  
}

.product-card {
  width: 220px;  
  font-size: 14px;
  line-height: 18px;
}

.paginator {
  width: 700px;  
  margin-bottom: 49px;
  margin-left: 10px;
  padding: 0 10px;  
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
}

.main-footer-layout {
  display: flex;
  justify-content: space-around;}

.footer-contacts {
  width: 320px;
  
}

.footer-social {
  width: 180px;
}

.footer-copyright {
  width: 180px;
}


/*Орормление "catalog-item" страници. */

.image-galery{
  width: 470px;  
  margin-bottom: 49px;
}

.product-description {
  width: 400px;  
  padding-left: 10px;
}









/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}
/*
h1::before {
  content: "h1";
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}