body { 	
  margin: 0;
  padding: 0;  
  font-size: 14px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;  
  font-weight: bold;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container { 
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: 54px;
  color: #ffffff;
  background-color: #000000;
}

.main-logo {
  float: left;
  width: 140px;  
}

.main-logo img {
  padding-top: 25px;
  padding-left: 20px;
}

.main-navigation { 
  float: left;
  width: 620px;   
  margin-right: 25px; 
  margin-left: 10px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;  
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  color: #ffffff;  
}

.main-navigation a:hover {
  background-color: #242424;
}

.user-block {
  float: left;
  max-width: 140px;  
}

.login {
  position: relative;
  display: inline-block;
  margin-left: 40px;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;  
}

.login:hover {
  background-color: #242424;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
  width: 18px;
  height: 18px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
  background-position: -10px -10px;
  opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

h1 {
  font-size: 30px;  
  font-weight: bold;    
  line-height: 42px;
  margin: 0;
}

.bread-crumbs {
   margin-bottom: 39px;
   display: flex; 
}

.bread-crumbs ul {
  padding: 0;
  display: flex; 
  list-style: none;  
  justify-content: flex-start;  
}

.bread-crumbs li {
  position: relative;
  display: block;  
  padding-right: 25px;
  padding-left: 15px;  
  line-height: 20px;  
}

.bread-crumbs li:first-child {
  padding-left: 0;
}

.bread-crumbs li::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 6px; 
  display: block;
  width: 7px;
  height: 7px;
  margin-right: 3px;
  background-color: #000000;
  transform: rotate(45deg);
}

.bread-crumbs a {
  color: #000000;
  text-decoration: none;
}

.bread-crumbs a:active {
  color: #aba9a7;
}

.filter {
  float: left;
  width: 220px;  
}

.filter legend {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.producers {
  padding-left: 0; 
  border: none; 
}

.producers-list {
  list-style: none;
  padding: 0;
}


input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 20px 0;
  line-height: 18px; 
  padding-left: 45px;
  position: relative;
  left: 0;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #000000;
  background-color: #f9f6f3;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;  
  position: absolute;
  top: 4px;
  left: 4px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  background-position: -10px -46px;
}

input[type="checkbox"] + label:hover {
  color: #663d15;
}

.product-groups {
  margin-top: 20px;
  padding-left: 0;
  border: none;
}

.product-groups-list {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin: 20px 0;
  line-height: 18px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #000101;
  background-color: #f9f6f3;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

input[type="radio"]:checked + label::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 6px;  
}

input[type="radio"] + label:hover {
  color: #663d15;
}

.btn {
  display: inline-block;
  padding: 12px 28px 13px 33px;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #e74246;
}

.right-column {
  float: right;
  width: 710px;
}

.main-products {
  float: right;
  width: 710px;    
  margin-bottom: 35px; 
}

.product-card {
  float: left;
  width: 220px;    
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;  
  box-shadow: 0 0  15px rgba(0,1,1,0.2);
}

.product-image {
  width: 220px;
  height: 165px;
  margin-bottom: 16px;
}

.product-details h2 {
  margin: 0;
  margin-left: 16px;
  text-transform: none;
}

.product-details a {  
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.button-group {  
  padding: 10px 15px;    
}

.button-group span {
  float: left;
  width: 109px;  
  padding: 12px 0;
  background-color: #e5e5e5;
  text-align: center;  
}

.button-group a {
  float: left;
  width: 78px;
  padding: 12px 0;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  color: #ffffff;
}

.button-group a:hover {
  background-color: #663d15;
}

.product-card:nth-child(3) {
  margin-right: 0;  
}

.product-card:nth-child(6) {
  margin-right: 0;
}

.paginator {
  float: left;
  margin-bottom: 49px;   
}

.num {
  float: left;
  width: 43px;
  margin-right: 7px;
  padding: 13px 0;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
}

.num:hover {
  background-color: #663d15;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #ffffff;
  background: #252525 url("img/pattern-black.jpg");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
}

.social-btn {
  display: inline-block;  
  width: 43px;
  height: 43px;
  margin: 0 2px;  
  font-size: 0;
  vertical-align: top;
  background-color: #000000;  
  position: relative;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn-vk::before:hover {
  width: 25px;
  height: 16px;
  background-position: -10px -280px;
}
.social-btn-vk::before {
  width: 25px;
  height: 16px;
  background-position: -10px -244px;
}

.social-btn-fb::before:hover {
  width: 12px;
  height: 22px;
  background-position: -10px -120px;
}

.social-btn-fb::before {
  width: 12px;
  height: 22px;
  background-position: -10px -78px;
}

.social-btn-inst::before:hover {
  width: 21px;
  height: 21px;
  background-position: -10px -203px;
}
.social-btn-inst::before {
  width: 21px;
  height: 21px;
  background-position: -10px -162px;
}

.footer-copyright {
  float: left;
  max-width: 180px;
  margin-left: 200px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;
  background-color: #ffffff;
}



/*Орормление "catalog-item" страници. */

.image-galery{
  float: left;
  width: 470px;  
  margin: 0;
  margin-bottom: 49px;
}

.image-galery img:nth-child(1) {
  margin-bottom: 20px;
}

.image-galery img:nth-child(2),
.image-galery img:nth-child(3) {
  margin-right: 20px;
}

.product-description {
  float: right;
  width: 390px;  
  padding: 0 10px;
  padding-top: 20px;
}

.product-info ul { 
  float: left;
  width: 380px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}

.p-stock { 
  float: left;
  width: 90px;
}

.p-model {   
  float: right;
  width: 140px;
  color: #aeaeae;
  text-align: right; 
}

.product-text {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

.buy {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
}

.composition p {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 40px;
}

.composition ul {
  padding: 0;  
  line-height: 24px;
  list-style: none;
}

.composition li {
  padding-left: 20px;
  position: relative;
}

.composition li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 7px;
  height: 7px;
  margin-top: -3px;
  background-color: #000000;
  transform: rotate(45deg);
}







/*Спрайт*/

.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite--icon-login {
    width: 18px;
    height: 16px;
    background-position: -10px -10px;
}

.sprite-ico-checkbox {
    width: 12px;
    height: 12px;
    background-position: -10px -46px;
}

.sprite-social-fb {
    width: 12px;
    height: 22px;
    background-position: -10px -78px;
}

.sprite-social-fb-black {
    width: 12px;
    height: 22px;
    background-position: -10px -120px;
}

.sprite-social-inst {
    width: 21px;
    height: 21px;
    background-position: -10px -162px;
}

.sprite-social-inst-black {
    width: 21px;
    height: 21px;
    background-position: -10px -203px;
}

.sprite-social-vk {
    width: 25px;
    height: 16px;
    background-position: -10px -244px;
}

.sprite-social-vk-black {
    width: 25px;
    height: 16px;
    background-position: -10px -280px;
}




/*======================================
 Системное оформление - не изменять
=======================================*/


/*
body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "";
  position: absolute;

  height: 24px;
  padding: 2px 5px;

  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}